name: openapi-validate
on:
  pull_request:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: stoplightio/spectral-action@v1
        with:
          file_glob: 'contracts/openapi.v1.yaml'
